/* HOME
http://patorjk.com/software/taag/#p=display&v=0&f=Flower%20Power&t= 

 .----------------.  .----------------.  .----------------.  .----------------. 
| .--------------. || .--------------. || .--------------. || .--------------. |
| |  ____  ____  | || |     ____     | || | ____    ____ | || |  _________   | |
| | |_   ||   _| | || |   .'    `.   | || ||_   \  /   _|| || | |_   ___  |  | |
| |   | |__| |   | || |  /  .--.  \  | || |  |   \/   |  | || |   | |_  \_|  | |
| |   |  __  |   | || |  | |    | |  | || |  | |\  /| |  | || |   |  _|  _   | |
| |  _| |  | |_  | || |  \  `--'  /  | || | _| |_\/_| |_ | || |  _| |___/ |  | |
| | |____||____| | || |   `.____.'   | || ||_____||_____|| || | |_________|  | |
| |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------' 
*/

/* NAVBAR
,---.   .--.   ____    ,---.  ,---. _______      ____    .-------.     
|    \  |  | .'  __ `. |   /  |   |\  ____  \  .'  __ `. |  _ _   \    
|  ,  \ |  |/   '  \  \|  |   |  .'| |    \ | /   '  \  \| ( ' )  |    
|  |\_ \|  ||___|  /  ||  | _ |  | | |____/ / |___|  /  ||(_ o _) /    
|  _( )_\  |   _.-`   ||  _( )_  | |   _ _ '.    _.-`   || (_,_).' __  
| (_ o _)  |.'   _    |\ (_ o._) / |  ( ' )  \.'   _    ||  |\ \  |  | 
|  (_,_)\  ||  _( )_  | \ (_,_) /  | (_{;}_) ||  _( )_  ||  | \ `'   / 
|  |    |  |\ (_ o _) /  \     /   |  (_,_)  /\ (_ o _) /|  |  \    /  
'--'    '--' '.(_,_).'    `---`    /_______.'  '.(_,_).' ''-'   `'-'   
                                                                       
*/
  nav {
    top: 10px;
    width: 319px;
    display: inline-flex;
    margin: 0px 5px;}
  
  nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 30px 30px;
    transition: 0.2s ease color;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  nav a:before {
    top: 33%;
    left: 30px;
    width: 6px;
    height: 6px;
  }
  
  nav a:after {
    top: 40%;
    left: 25px;
    width: 4px;
    height: 4px;
  }
  
  nav a:nth-child(1):before {
    background-color: yellow;
  }
  
  nav a:nth-child(1):after {
    background-color: red;
  }
  
  nav a:nth-child(2):before {
    background-color: #033047;
  }
  
  nav a:nth-child(2):after {
    background-color: #41a984;
  }
  
  nav a:nth-child(3):before {
    background-color: #033047;
  }
  
  nav a:nth-child(3):after {
    background-color: #41a984;
  }
  
  nav a:nth-child(4):before {
    background-color: #033047;
  }
  
  nav a:nth-child(4):after {
    background-color: #41a984;
  }
  nav a:nth-child(5):before {
    background-color: #033047;
  }
  
  nav a:nth-child(5):after {
    background-color: #41a984;
  }
  
  nav a:nth-child(6):before {
    background-color: #033047;
  }
  
  nav a:nth-child(6):after {
    background-color: #41a984;
  }
  
  
  #indicator {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 30px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  nav a:hover {
    color: rgb(29, 23, 23);
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
    left:50%;
  }
  
  nav a:nth-child(2):hover ~ #indicator {
    left: 20%;
    background: linear-gradient(130deg, #033047, #41a984);
  }
  
  nav a:nth-child(3):hover ~ #indicator {
    left: 28.75%;
    background: linear-gradient(130deg, #033047, #41a984);
  }
  
  nav a:nth-child(4):hover ~ #indicator {
    left: 38.4%;
    background: linear-gradient(130deg, #033047, #41a984);
  }
  
  nav a:nth-child(5):hover ~ #indicator {
    left: 51.425%;
    background: linear-gradient(130deg, #033047, #41a984);
  }
  nav a:nth-child(6):hover ~ #indicator {
    left: 63.25%;
    background: linear-gradient(130deg, #033047, #41a984);
  }
  
    section.wrapper {
    min-width: 400px; /* Minimum width of your wrapper element */
    overflow: hidden;
    display: flex;
  }

/* GALLERY
  .-_'''-.      ____      .---.     .---.       .-''-.  .-------.       ____     __  
 '_( )_   \   .'  __ `.   | ,_|     | ,_|     .'_ _   \ |  _ _   \      \   \   /  / 
|(_ o _)|  ' /   '  \  \,-./  )   ,-./  )    / ( ` )   '| ( ' )  |       \  _. /  '  
. (_,_)/___| |___|  /  |\  '_ '`) \  '_ '`) . (_ o _)  ||(_ o _) /        _( )_ .'   
|  |  .-----.   _.-`   | > (_)  )  > (_)  ) |  (_,_)___|| (_,_).' __  ___(_ o _)'    
'  \  '-   .'.'   _    |(  .  .-' (  .  .-' '  \   .---.|  |\ \  |  ||   |(_,_)'     
 \  `-'`   | |  _( )_  | `-'`-'|___`-'`-'|___\  `-'    /|  | \ `'   /|   `-'  /      
  \        / \ (_ o _) /  |        \|        \\       / |  |  \    /  \      /       
   `'-...-'   '.(_,_).'   `--------``--------` `'-..-'  ''-'   `'-'    `-..-'        
                                                                                     
*/

  .gallery {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 60vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: scroll;
    height: 60vh;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
  }
  
  .active {
    scroll-snap-type: unset;
  }
  
  li {
    scroll-snap-align: center;
    display: inline-block;
    border-radius: 3px;
    font-size: 24px;
    overflow: hidden;
    object-fit: fill;
  }
  
  
   .navbar {
    display: flex;
    justify-content: left;
    padding: 20px;
    background-color: rgba(255, 255, 255);
    color: #fff;
  }
  .bannercontainer {
    border: 0px solid blue;
    
    padding: 20px;
    height: 382px;
    display: flex;
    padding: 0px;
    background-color: rgba(255, 255, 255);
    color: #fff;
  }
  
  
  .art-cont>div{
    position:relative;
    margin: 0 40px;
  
    /* padding: 10px; */
    display: flex;
  }
  .logo  {
    
    background: url("https://github.com/jgomezortega/jgomezortega/blob/main/docs/assets/logo.png?raw=true");
    opacity: 1;
    background-size: cover ;
    object-fit: scale-down;
    width: 200px;
    height: 70px;
    display: flex;
  }
  
  .nav-links {
    display: flex;
  }
  
  .gallery-links {
    display:inline-flex;
    max-width: 1200px;
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    padding: 20 px;
    opacity: 1;
    text-align: left;
  }
  .nav-links a:hover {
        color: black;
      }
  
  .search-box{
      position: absolute;
      left:75%;
      top: 6.5%;
      max-height: 30px;
      max-width: 60px;
      width: 33.333%;
      display: inline-flex;
      text-align: center;
      align-items: center;
  }
  
  .search-box input[type="text"] {
    padding: 6px 20px;
    border: 1px;
    border-color: black;
    border-radius: 4px;
    font-size: 16px;
    display: relative;
    top:10px;
  }
  
  .search-box button[type="submit"] {
    border: grey;
    border-radius: 4px;
    font-size: 16px;
    background: linear-gradient(120deg, #5e8067, rgb(169, 169, 224));
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: relative;
    top:10px;
  }
  
  /* .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 21px;
    cursor: pointer;
  }
  
  .hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: #fff;
  } */
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .nav-links a {
      margin: 10px 0;
    }
  
    .hamburger-menu {
      display: flex;
    }
  }
  
  body 
  {
  margin: 0px;
  }
  /* BANNER
   _______      ____    ,---.   .--.,---.   .--.    .-''-.  .-------.     
\  ____  \  .'  __ `. |    \  |  ||    \  |  |  .'_ _   \ |  _ _   \    
| |    \ | /   '  \  \|  ,  \ |  ||  ,  \ |  | / ( ` )   '| ( ' )  |    
| |____/ / |___|  /  ||  |\_ \|  ||  |\_ \|  |. (_ o _)  ||(_ o _) /    
|   _ _ '.    _.-`   ||  _( )_\  ||  _( )_\  ||  (_,_)___|| (_,_).' __  
|  ( ' )  \.'   _    || (_ o _)  || (_ o _)  |'  \   .---.|  |\ \  |  | 
| (_{;}_) ||  _( )_  ||  (_,_)\  ||  (_,_)\  | \  `-'    /|  | \ `'   / 
|  (_,_)  /\ (_ o _) /|  |    |  ||  |    |  |  \       / |  |  \    /  
/_______.'  '.(_,_).' '--'    '--''--'    '--'   `'-..-'  ''-'   `'-'   
                                                                         */
  
  .bannerbar {
    /* UNDER-BANNER BAR */
    max-width: 100%;
    height: fit-content;
    background: linear-gradient(130deg, #d3c8b3 2%, #41a984 7%,#048078 20%,#045767 55%, #044464 70%, #033047 90%);
    opacity: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .banner {
    /* BANNER IMAGE */
    width: 100%;
    height: 382px;
    background: url("https://images.squarespace-cdn.com/content/v1/57c7ad5bcd0f68f5c730e9e8/1531032447603-COFFXDAUPSULNJPABI7C/banner2_comp.jpg?format=1500w");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }
  .bannertext {
    width: 100%;
    color: whitesmoke;
    position: relative;
    font-family: Inter;
    font-weight: Light;
    font-size: 19px;
    opacity: 1;
    padding: 10px;
    text-align: center;
  }
  
  .containerC {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
/* CSS */
.button-62 {
  position: relative;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: none;
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: relative;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 20px;
  text-align: center;
  transition: all 0.5s;
  white-space: nowrap;
}
.button-62 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-62 span:after {
  content: ' \00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

.button-62:hover span {
  padding-right: -1px;
}

.button-62:hover span:after {
  opacity: 1;
  right: 5;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

:root{
  /* color type A */
  --line_color : #e1e1e1 ;
  --back_color : #048078f2  ;
  /* linear-gradient(#41a984 10%,#048078 30%,#045767 55%) */
}

.buttonscribble{
  position : relative ;
  z-index : 0 ;
  width : 240px ;
  height : 56px ;
  margin-left: 40px;
  margin-top: 250px;
  text-decoration : none ;
  font-size : 14px ; 
  font-weight : bold ;
  color : var(--line_color) ;
  letter-spacing : 2px ;
  transition : all .3s ease ;
}
.button__text{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 100% ;
  height : 100% ;
}
.buttonscribble::before,
.buttonscribble::after,
.button__text::before,
.button__text::after{
  content : '' ;
  position : absolute ;
  height : 3px ;
  border-radius : 2px ;
  background : var(--line_color) ;
  transition : all .5s ease ;
}
.buttonscribble::before{
  top : 0 ;
  left : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.buttonscribble::after{
  top : 0 ;
  right : 54px ;
  width : 8px ;
}
.button__text::before{
  bottom : 0 ;
  right : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
  bottom : 0 ;
  left : 54px ;
  width : 8px ;
}
.button__line{
  position : absolute ;
  top : 0 ;
  width : 56px ;
  height : 100% ;
  overflow : hidden ;
}
.button__line::before{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 150% ;
  height : 100% ;
  box-sizing : border-box ;
  border-radius : 300px ;
  border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
  left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
  right : 0 ;
}
.buttonsribble:hover{
  letter-spacing : 6px ;
}
.buttonscribble:hover::before,
.buttonscribble:hover .button__text::before{
  width : 8px ;
}
.buttonscribble:hover::after,
.buttonscribble:hover .button__text::after{
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
  position : absolute ;
  z-index : -1 ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
}
.button__drow1{
  top : -16px ;
  left : 40px ;
  width : 32px ;
  height : 0;
  transform : rotate( 30deg ) ;
}
.button__drow2{
  top : 44px ;
  left : 77px ;
  width : 32px ;
  height : 0 ;
  transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
  content : '' ;
  position : absolute ;
}
.button__drow1::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -60deg ) ;
}
.button__drow1::after{
  top : -10px ;
  left : 45px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( 69deg ) ;
}
.button__drow2::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -146deg ) ;
}
.button__drow2::after{
  bottom : 26px ;
  left : -40px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
  background : var( --back_color ) ;
}
.buttonscribble:hover .button__drow1{
  animation : drow1 ease-in .06s ;
  animation-fill-mode : forwards ;
}
.buttonscribble:hover .button__drow1::before{
  animation : drow2 linear .08s .06s ;
  animation-fill-mode : forwards ;
}
.buttonscribble:hover .button__drow1::after{
  animation : drow3 linear .03s .14s ;
  animation-fill-mode : forwards ;
}
.buttonscribble:hover .button__drow2{
  animation : drow4 linear .06s .2s ;
  animation-fill-mode : forwards ;
}
.buttonscribble:hover .button__drow2::before{
  animation : drow3 linear .03s .26s ;
  animation-fill-mode : forwards ;
}
.buttonscribble:hover .button__drow2::after{
  animation : drow5 linear .06s .32s ;
  animation-fill-mode : forwards ;
}
@keyframes drow1{
  0%   { height : 0 ; }
  100% { height : 100px ; }
}
@keyframes drow2{
  0%   { width : 0 ; opacity : 0 ;}
  10%  { opacity : 0 ;}
  11%  { opacity : 1 ;}
  100% { width : 120px ; }
}
@keyframes drow3{
  0%   { width : 0 ; }
  100% { width : 80px ; }
}
@keyframes drow4{
  0%   { height : 0 ; }
  100% { height : 120px ; }
}
@keyframes drow5{
  0%   { width : 0 ; }
  100% { width : 124px ; }
}

.scribble{
  width : fit-content ;
  height : 300px ;
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;
}

  /*  INFO
  .-./`) ,---.   .--. ________     ,-----.     
\ .-.')|    \  |  ||        |  .'  .-,  '.   
/ `-' \|  ,  \ |  ||   .----' / ,-.|  \ _ \  
 `-'`"`|  |\_ \|  ||  _|____ ;  \  '_ /  | : 
 .---. |  _( )_\  ||_( )_   ||  _`,/ \ _/  | 
 |   | | (_ o _)  |(_ o._)__|: (  '\_/ \   ; 
 |   | |  (_,_)\  ||(_,_)     \ `"/  \  ) /  
 |   | |  |    |  ||   |       '. \_/``".'   
 '---' '--'    '--''---'         '-----'     
                                              */
                                               
/* @import url(//fonts.googleapis.com/css?family=Lato:300:400); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;

 */

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(130deg, #d3c8b3 0%, #41a984 20%,#048078 50%,#045767 75%, #044464 90%);
  color:white;
}
.logoWave {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:30vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
.haze{
  display: inline-flex;
  flex-direction: row;
  float: left;
}
.hazetext {
  font-family: 'Lato', sans-serif;
  max-width: 700px;
  color: #044464;
  display: inline-flex;
  flex-direction: row;
  float: left;
  background-color: rgba(245, 245, 245, 0);
  padding: 10px;
  padding-top: 50px;
  margin: 10px;
}

.hazeh2 {
  font-family: 'Lato', sans-serif;
  color: #044464;
  padding-left: 3%;
  width: 600px;

}

.dot {
  height: 8rem;
  width: 8rem;
  min-width: 5.75rem;
  min-height: 5.75rem;
  background-color: rgba(65, 169, 133, 0.0625) ;
  border-radius: 50%;
  border: #048078;
  border-width: 5px;
    float: left;
    align-items: center;
  justify-content: center;
  display: flex;
    justify-content: center;
    align-items: center;

}
.dot img {
  align-items: center;
 
}
  
.circle { 
  width: 15.75rem;
  height: 15.75rem;
  min-width: 7.75rem;
  min-height: 7.75rem;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(230, 236, 240);
  padding: 1.25rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.infosection {
  align-items: center;
  justify-content: center;
  display: inline-block;
  flex-direction: column;
  padding: .5rem .5rem .5rem .5rem;
  width: 44vw;
  margin: 10px 10px;
  margin-left: 45px;
  margin-bottom: 45px;
}

.infocard { 
  vertical-align: top;
  display: float;
}


.infotitle {
  display: flex;
  vertical-align: top;
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 700;
  color: rgb(5, 63, 104);
  float: left;
  padding: 10px;
  padding-left: 40px;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}
.infosubtitle {
  max-width: 300px;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 0px;
  display: flex;
  position: relative;
  vertical-align: top;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgb(5, 63, 104);
  float: left;
  flex-direction: column;


}


  /* ARTICLES
     ____    .-------. ,---------. .-./`)     _______    .---.       .-''-.     .-'''-.  
 .'  __ `. |  _ _   \\          \\ .-.')   /   __  \   | ,_|     .'_ _   \   / _     \ 
/   '  \  \| ( ' )  | `--.  ,---'/ `-' \  | ,_/  \__),-./  )    / ( ` )   ' (`' )/`--' 
|___|  /  ||(_ o _) /    |   \    `-'`"`,-./  )      \  '_ '`) . (_ o _)  |(_ o _).    
   _.-`   || (_,_).' __  :_ _:    .---. \  '_ '`)     > (_)  ) |  (_,_)___| (_,_). '.  
.'   _    ||  |\ \  |  | (_I_)    |   |  > (_)  )  __(  .  .-' '  \   .---..---.  \  : 
|  _( )_  ||  | \ `'   /(_(=)_)   |   | (  .  .-'_/  )`-'`-'|___\  `-'    /\    `-'  | 
\ (_ o _) /|  |  \    /  (_I_)    |   |  `-'`-'     /  |        \\       /  \       /  
 '.(_,_).' ''-'   `'-'   '---'    '---'    `._____.'   `--------` `'-..-'    `-...-'   
                                                                                       
  */
  .articles {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .article {
    width: 30%;
    margin-bottom: 30px;
  }
  
  .img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .h2 {
    margin: 10px 0;
    font-size: 48px;
  }
  .articlecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 550px;
    background: url("https://github.com/jgomezortega/jgomezortega/blob/main/docs/assets/articlesbg.png?raw=true") ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    left: 0px;
    overflow: hidden;
  }
  
  .art1 {
    width: 313px;
    height: 236px;
    position: relative;
    left:10%;
    background: rgba(217,217,217,1);
    opacity: 1;
    overflow: hidden;
  }
  .art1frame {
    width: 313px;
    height: 190px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    left:10%;
    overflow: hidden;
  }
  
  .articletitle {
    width: 266px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 7.5%;
    left: 5%;
    font-family: Inter;
    font-weight: Light;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .articlesubtitle {
    width: 266px;
    color: rgba(1, 1, 1, 0.502);
    position: absolute;
    top: 65%;
    left: 6%;
    font-family: Inter;
    font-weight: Thin;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .art2 {
    width: 313px;
    height: 236px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    left:10%;
    overflow: hidden;
  }
  .art2frame {
    width: 313px;
    height: 190px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    left:10%;
    overflow: hidden;
  }
  .art3 {
    width: 313px;
    height: 236px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    left:10%;
    overflow: hidden;
  }
  .art3frame {
    width: 313px;
    height: 190px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    left:10%;
    overflow: hidden;
  }
  
  .readnow {
    width: 99px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 8%;
    left: 12%;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 16px;
    opacity: 1;
  }
  
  .morearticles { 
    max-width: 200px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 16px;
    top:45%;
    right:10%;
    position: relative;
    color: rgba(255,255,255,1);
  
  }
  
  .v43_345 {
    width: 99px;
    height: 27px;
    background: url("../images/v43_345.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 3.3862433433532715px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .readnowbutton {
    width: 99px;
    height: 27px;
    background: linear-gradient(130deg, #5e8067, palevioletred);
    opacity: 1;
    position: absolute;
    top: 75%;
    left: 5%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  
  /* box classes are article thumbnails */
  .box3 {
      width: 100%;
      height: 100%;
      border: 0px solid rgba(255, 217, 0, 0);
      background-image: url("https://scx2.b-cdn.net/gfx/news/hires/2023/special-drone-collects-1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
  }
  .box2 {
      width: 100%;
      height: 100%;
      border: none;
      background-image: url("https://www.llnl.gov/sites/www/files/styles/scaled_425h/public/2022-12/GreenlandEcosystem_875x500px.jpg?itok=J2JPbnJq");
      background-size: cover; 
      background-repeat: no-repeat;
      background-position: 50% 50%;
  }
  .box1 {
      width: 100%;
      height: 100%;
      border: 0px solid rgba(255, 217, 0, 0);
      background-image: url("https://www.science.org/do/10.1126/science.abl5425/full/eDNA_1280x720.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%; 
  }

/* 
 ________     ,-----.        ,-----.  ,---------.    .-''-.  .-------.     
|        |  .'  .-,  '.    .'  .-,  '.\          \ .'_ _   \ |  _ _   \    
|   .----' / ,-.|  \ _ \  / ,-.|  \ _ \`--.  ,---'/ ( ` )   '| ( ' )  |    
|  _|____ ;  \  '_ /  | :;  \  '_ /  | :  |   \  . (_ o _)  ||(_ o _) /    
|_( )_   ||  _`,/ \ _/  ||  _`,/ \ _/  |  :_ _:  |  (_,_)___|| (_,_).' __  
(_ o._)__|: (  '\_/ \   ;: (  '\_/ \   ;  (_I_)  '  \   .---.|  |\ \  |  | 
|(_,_)     \ `"/  \  ) /  \ `"/  \  ) /  (_(=)_)  \  `-'    /|  | \ `'   / 
|   |       '. \_/``".'    '. \_/``".'    (_I_)    \       / |  |  \    /  
'---'         '-----'        '-----'      '---'     `'-..-'  ''-'   `'-'   
                                                                            */                                                                           
  .footer {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 221px;
    
    background: rgba(51,47,47,1);
    opacity: 1;
    left: 0px;
    overflow: hidden;
  }
  .footertext {
    color: rgb(67, 69, 67);
    top:70%;
    width: 100%;
    position:relative;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  
